<h1>新增候選人</h1>

<% if @candidate.errors.any? %>
    <ul>
        <% @candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li> 
        <% end %>
    </ul>
<% end %>

<%= render "form", candidate: @candidate %>

<br />
<%= link_to "回候選人列表", candidates_path %>
